# Composer
/vendor/
/composer.lock

# PHPStorm
/.idea/

# Laravel
/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant

# Symfony
/app/config/parameters.yml
/var/
/vendor/
/bin/
/phpunit.xml

# Generic
*.log
*.cache
*.tmp
*.swp
*.bak
*.orig
*.save
*.sql
*.sqlite
*.env
.DS_Store
Thumbs.db